{% extends "base.html" %}
{% from "macro/field_render.html" import field_render %}
{% from "macro/button_render.html" import button_render %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="background-color: #FFF; padding-top: 15px; height: 700px">
        <div class="row">
            <div class="panel panel-info" style="margin: 30px 90px 0px 90px; ">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 22px;">设置</h2>
                    <p class="help-block" style="margin-bottom: 0px;">修改管理员基本信息</p>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="头像无法显示" class="img-rounded header-img">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="page-header">
                                    {% if current_user.is_authenticated and current_user.is_administer%}
                                        <p>用户名: <strong>{{ current_user.username }}</strong></p>
                                        <p>性别: <strong>{{ current_user.sex }}</strong></p>
                                        <p>邮箱: <strong>{{ current_user.email }}</strong></p>
                                        <p>注册时间: <strong>{{ moment(current_user.member_since).format('L') }}</strong></p>
                                        <form action="{{ url_for('main.admin') }}" class="form-horizontal form-panel" role="form" method="post">
                                            {{ form.hidden_tag() }}
                                            {{ field_render(form.userid, id=userid) }}
                                            {{ button_render(form.submit) }}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}