{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock %}

{%- block content -%}
    <div class="carousel slide" id="carousel-317387" data-ride="carouse">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-317387">
            </li>
            <li data-slide-to="1" data-target="#carousel-317387" class="active">
            </li>
            <li data-slide-to="2" data-target="#carousel-317387">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <img width="100%" alt="" src="http://ww2.sinaimg.cn/large/0069qWFHjw1f6kyyofzynj30s20ciahh.jpg" />

            </div>
            <div class="item active">
                <img width="100%" alt="" src="http://ww3.sinaimg.cn/large/0069qWFHgw1f6ionb5jjuj30s20ci79a.jpg" />

            </div>
            <div class="item">
                <img width="100%" alt="" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f7fk3hcpx5j30s20citbo.jpg" />

            </div>
        </div> <a class="left carousel-control" href="#carousel-317387" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-317387" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <p class="lead text-left text-info">
                <strong>热门电影</strong>
            </p>
        </div>
    </div>

    <div class="row clearfix">
        <div class="tab-content">
            <div class="tab-pane active">
            {#                 {% set list_data = [['大话西游3', 'http://ww4.sinaimg.cn/large/0069qWFHgw1f7xy20yfblj30bw0go0xn.jpg'],
                ['使徒行者', 'http://ww3.sinaimg.cn/large/0069qWFHgw1f76xw6ughvj30bu0goq6o.jpg']] %} #}
                {% for lists in list_data %}

                    <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
                            <div class="movie-item">
                                <a href="#" style="position: relative;display: block" title= {{ lists[0] }} target="_blank">
                                    <img class="indexhot" src= {{ lists[1] }} alt="链接失效">
                                </a>
                                <div class="meta">
                                    <div style="width:100%;overflow:hidden;height:20px;">
                                        <a target="_blank" title="百度网盘在线观看" class="movie-name" href="#">{{ lists[0] }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                {% endfor %}









            </div>
            <div class="tab-pane">


            </div>
        </div>

    </div>

{%- endblock -%}