{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock %}

{%- block content -%}
    <div class="carousel slide" id="carousel-317387" data-ride="carouse">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-317387">
            </li>
            <li data-slide-to="1" data-target="#carousel-317387" class="active">
            </li>
            <li data-slide-to="2" data-target="#carousel-317387">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <img width="100%" alt="" src="http://ww2.sinaimg.cn/large/0069qWFHjw1f6kyyofzynj30s20ciahh.jpg" />

            </div>
            <div class="item active">
                <img width="100%" alt="" src="http://ww3.sinaimg.cn/large/0069qWFHgw1f6ionb5jjuj30s20ci79a.jpg" />

            </div>
            <div class="item">
                <img width="100%" alt="" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f7fk3hcpx5j30s20citbo.jpg" />

            </div>
        </div> <a class="left carousel-control" href="#carousel-317387" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-317387" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <p class="lead text-left text-info">
                <strong>热门电影</strong>
            </p>
        </div>
    </div>

    <div class="row clearfix">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="太阳" target="_blank">
                            <img class="indexhot" src="http://ww2.sinaimg.cn/large/0069qWFHgw1f8oo7qnp9pj30bs0go78p.jpg" alt="链接失效">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow:hidden;height:20px;">
                                <a target="_blank" title="太阳百度网盘在线观看" class="movie-name" href="#">太阳</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="机械师2:复活" target="_blank">
                            <img src="http://2img.mgtv.com/preview/internettv/sp_images/ott/2016/dianying/99994301/20160811103153043-new.jpg" alt="链接失效" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow: hidden;height: 20px">
                                <a href="#" title="机械师2:复活在线观看" target="_blank" class="movie-name">机械师2:复活</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" title="大鱼海棠" style="position: relative;display: block" target="_blank">
                            <img src="http://ww3.sinaimg.cn/large/0069qWFHgw1f322aar4ljj30b40go41n.jpg" alt="链接丢失" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#" class="movie-name" target="_blank" title="大鱼海棠在线观看">大鱼海棠</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" target="_blank" title="星际迷航3:超越星辰">
                            <img src="http://ww3.sinaimg.cn/large/0069qWFHgw1f8ade8vo0oj30bm0gojv4.jpg" alt="链接失效" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#  " title="星际迷航3在线观看" class="movie-name" target="_blank">星际迷航3</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="反贪风暴2" target="_blank">
                            <img src="http://ww4.sinaimg.cn/large/0069qWFHgw1f960q8kn8yj30bo0gon0f.jpg" alt="链接丢失" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#" class="movie-name" title="反贪风暴2" target="_blank">反贪风暴2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="太阳" target="_blank">
                            <img class="indexhot" src="http://ww2.sinaimg.cn/large/0069qWFHgw1f8oo7qnp9pj30bs0go78p.jpg" alt="链接失效">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow:hidden;height:20px;">
                                <a target="_blank" title="太阳百度网盘在线观看" class="movie-name" href="#">太阳</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--测试-->
                <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="太阳" target="_blank">
                            <img class="indexhot" src="http://ww2.sinaimg.cn/large/0069qWFHgw1f8oo7qnp9pj30bs0go78p.jpg" alt="链接失效">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow:hidden;height:20px;">
                                <a target="_blank" title="太阳百度网盘在线观看" class="movie-name" href="#">太阳</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="机械师2:复活" target="_blank">
                            <img src="http://2img.mgtv.com/preview/internettv/sp_images/ott/2016/dianying/99994301/20160811103153043-new.jpg" alt="链接失效" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow: hidden;height: 20px">
                                <a href="#" title="机械师2:复活在线观看" target="_blank" class="movie-name">机械师2:复活</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" title="大鱼海棠" style="position: relative;display: block" target="_blank">
                            <img src="http://ww3.sinaimg.cn/large/0069qWFHgw1f322aar4ljj30b40go41n.jpg" alt="链接丢失" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#" class="movie-name" target="_blank" title="大鱼海棠在线观看">大鱼海棠</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" target="_blank" title="星际迷航3:超越星辰">
                            <img src="http://ww3.sinaimg.cn/large/0069qWFHgw1f8ade8vo0oj30bm0gojv4.jpg" alt="链接失效" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#  " title="星际迷航3在线观看" class="movie-name" target="_blank">星际迷航3</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 modal-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="反贪风暴2" target="_blank">
                            <img src="http://ww4.sinaimg.cn/large/0069qWFHgw1f960q8kn8yj30bo0gon0f.jpg" alt="链接丢失" class="indexhot">
                        </a>
                        <div class="meta">
                            <div style="width: 100%;overflow: hidden;height: 20px">
                                <a href="#" class="movie-name" title="反贪风暴2" target="_blank">反贪风暴2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
                    <div class="movie-item">
                        <a href="#" style="position: relative;display: block" title="太阳" target="_blank">
                            <img class="indexhot" src="http://ww2.sinaimg.cn/large/0069qWFHgw1f8oo7qnp9pj30bs0go78p.jpg" alt="链接失效">
                        </a>
                        <div class="meta">
                            <div style="width:100%;overflow:hidden;height:20px;">
                                <a target="_blank" title="太阳百度网盘在线观看" class="movie-name" href="#">太阳</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane">


            </div>
        </div>


    </div>
{%- endblock -%}