{% extends "base.html" %}
{% from "macro/field_render.html" import field_render %}
{% from "macro/button_render.html" import button_render %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='mystyle/css/mycss.css') }}">
{% endblock %}

{% block content %}
    <div class="row ">

        <div class="col-md-6 card col-center-block-2 ">
           <div class="container-fluid">
                <div class="row">
                <form role="form" class="form-horizontal form-panel" method="post">
                    {{ field_render(form.username, username) }}
                    {{ field_render(form.password, password) }}
                    {{ field_render(form.password2, password2) }}
                    {{ field_render(form.email, email) }}

                    <div class="form-group">
                        {{ form.sex.label(class="control-label col-md-2") }}
                        <div class="radio-inline col-sm-3">
                            {{ form.sex }}
                        </div>
                    </div>

                    {{ button_render(form.regis_submit) }}
                </form>
            </div>
           </div>
        </div>
    </div>
    <!--footer-space填充块-->
    <div class="footer-space-2"></div>

{% endblock %}
