{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="background-color: #FFF; padding-top: 15px; height: 700px">
        <div class="row">
            <div class="panel panel-info" style="margin: 30px 90px 0px 90px; ">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 22px;">资料</h2>
                    <p class="help-block" style="margin-bottom: 0px;">您的基本信息</p>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="头像无法显示" class="img-rounded header-img">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="page-header">
                                    <p>用户名: <strong>{{ user.username }}</strong></p>
                                    <p>性别: <strong>{{ user.sex }}</strong></p>
                                    {% if current_user.is_authenticated %}
                                        <p>邮箱: <strong>{{ user.email }}</strong></p>
                                        {% if current_user.is_administer() %}
                                            <p>最近登录: <strong>{{ moment(user.last_seen).fromNow() }}</strong></p>
                                        {% endif %}
                                        <p>注册时间: <strong>{{ moment(user.member_since).format('L') }}</strong></p>
                                    {% endif %}
                                    <a href="{{ url_for('main.user_config', username=current_user.username) }}"><button class="btn bg-info">修改资料</button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}