{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="background-color: #FFF; padding-top: 15px; height: 700px">
        <div class="row">
            <div class="panel panel-info" style="margin: 30px 90px 0px 90px; ">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 22px;">设置</h2>
                    <p class="help-block" style="margin-bottom: 0px;">修改您的基本信息</p>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="头像无法显示" class="img-rounded header-img">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="page-header">
                                    <h1>{{ user.username }}</h1>
                                    <p>{{ user.sex }}</p>
                                    {% if current_user.is_authenticated %}
                                        <p>{{ user.email }}</p>
                                        {% if current_user.is_administer() %}
                                            <p>{{ moment(user.last_seen).fromNow() }}</p>
                                        {% endif %}
                                        <p>{{ moment(user.member_since).format('L') }}</p>
                                    {% endif %}


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}