{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle/css/mycss.css') }}">
{% endblock head %}

{% block content %}
    <div class="container-fluid" style="background-color: #FFF; padding-top: 15px; height: 700px">
        <div class="row">
            <div class="panel panel-info" style="margin: 15px 45px 0px 45px; ">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 22px;">设置</h2>
                    <p class="help-block" style="margin-bottom: 0px;">修改你的基本信息</p>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <img src="../static/images/user.jpg" alt="头像无法显示" class="img-rounded">
                        <span class="user-name">{{ username }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}