{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mystyle/css/mycss.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="background: #FFF;padding-top: 15px;">
        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="#">电影</a></li>
            <li><a class="active">这部电影</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <h1 class="movie-title">这部电影<span class="movie-year">(2016)</span></h1>

            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" title="这部电影" target="_blank" style="display: block;position: relative" class="img-thumbnail">
                            <img src="http://ww3.sinaimg.cn/large/0069qWFHgw1f8ade8vo0oj30bm0gojv4.jpg" alt="图片链接失效" width="100%">
                        </a>
                        <buttun class="btn btn-block btn-success">立即播放</buttun>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">主演</span>
                                </td>
                                <td>
                                    <a href="#">XXXX</a>
                                    <a href="#">XXXX</a>
                                    <a href="#">XXXX</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">类型</span>
                                </td>
                                <td>
                                    <a href="#" class="movie-type">动作</a>
                                    <a href="#" class="movie-type">爱情</a>
                                    <a href="#" class="movie-type">偶像</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">制片国家</span>
                                </td>
                                <td>美国</td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">语言</span>
                                </td>
                                <td>
                                    <a href="#">英语</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">上映时间</span>
                                </td>
                                <td>2016-09-02(中国大陆) / 2016-07-22(美国)</td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">片长</span>
                                </td>
                                <td>122分钟(中国大陆/美国)分钟</td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">又名</span>
                                </td>
                                <td>星际迷航13：超越 / 星际旅行13：超越太空 / 星空奇遇记13：超域时空(港) / 星际争霸战13：浩瀚无垠(台) / 星舰奇航记13 / 星舰迷航记13</td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">评分</span>
                                </td>
                                <td>豆瓣:
                                    <a href="#" class="score">7.6</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">imdb</span>
                                </td>
                                <td>fhsadjf15313</td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                        <p style="color: #777"><strong>剧情介绍:</strong></p>
                        <p>柯克船长（克里斯·派恩 Chris Pine 饰）和企业号的船员们来到了银河系中未知的一个区域，开始完成他们5年的任务——探索新世界，寻找新物种。却在途中滞留异星，遭遇了当地种族追杀，他们必须找到方法离开这个星球。</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="list-group">
                    <p class="list-group-item list-head">热门电影</p>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                    <a href="#" target="_blank" title="xxx" class="list-group-item">xxx
                        <em>7.6分</em>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div style="border: 1px solid #C5DDF6;background-color: #EAF5FF">
                <h4 style="padding-left: 10px; border-left: 8px solid #00A6DE">xxx电影截图</h4>
                <img style="width: 1080px;" src="http://p1.bpimg.com/2251/218e73a20a04606bs.png" alt="xxx">
                <img style="width: 1080px;" src="http://p1.bpimg.com/2251/218e73a20a04606bs.png" alt="xxx">
                <img style="width: 1080px;" src="http://p1.bpimg.com/2251/218e73a20a04606bs.png" alt="xxx">

            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default " style="margin-top: 15px">
                <div class="panel-heading" style="line-height:18px;">
                    <strong>xxx在线观看</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" style="margin-right: 30px;" target="_blank" title="xxx">极速播放</a>
                        <a href="#" style="margin-right: 30px" target="_blank" title="xxx">高清播放</a>
                    </li>
                </ul>
                <table class="table">
                    <tbody>
                    <tr>
                        <td style="vertical-align: middle;padding-right: 0px;" align="center" width="100px">
                            <span title="百度云网盘" class="magnet-icon">百度云网盘</span>
                        </td>
                        <td class="text-break">
                            <div style="overflow: hidden; width: 100%; height: 20px;">
                                <a href="#" target="_blank" title="xxxxx">xxx百度网盘播放</a>
                            </div>

                        </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="70px;" >      </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="90px;">       </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: middle; padding-right: 0px;" align="center" width="100px">
                            <span class="magnet-icon">磁力链接1</span>
                        </td>
                        <td class="text-break">
                            <div style="width: 100%; height: 20px; overflow: hidden;">
                                <a href="#" target="_blank">种子链接</a>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="70px;" >      </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="90px;">       </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; padding-right: 0px;" align="center" width="100px">
                            <span class="magnet-icon">磁力链接2</span>
                        </td>
                        <td class="text-break">
                            <div style="width: 100%;height: 20px;overflow: hidden">
                                <a href="#" target="_blank">种子链接</a>
                            </div>

                        </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="70px;" >      </td>
                        <td style="vertical-align: middle; padding-right: 0px" width="90px;">       </td>
                    </tr>

                    </tbody>
                </table>
                <div class="panel-footer resource-help">
                    <strong>xxx - 百度云网盘资源下载帮助：</strong><br>
                    1、想要在线观看的，请保存到百度云盘中观看，没有百度云网盘链接或者百度云链接失效的请用百度网盘离线下载后观看<br>
                    2、如需下载电影，请先安装迅雷（旋风），然后右键资源链接，选择迅雷（旋风）下载。<br>
                    3、资源名称中含HD为高清，BD为蓝光 ，Mandarin是普通话，Cantonese是粤语，两者都有为双音轨。<br>
                    4、如果百度云网盘失效请留言或加QQ群反映小站会第一时间补充百度云盘链接。
                </div>
            </div>




        </div>
        <div class="col-md-12">
            <h4 style="padding-left: 10px; border-left: 8px solid #00A6DE">电影评论</h4>
        </div>

    </div>
{% endblock %}